In [2]:
import pandas as pd
import numpy as np

In [3]:
data1 = pd.read_csv('96_prop.csv')

In [4]:
data1.head()

,ZINC_ID,MWT,LogP,Desolv_apolar,Desolv_polar,HBD,HBA,tPSA,Charge,NRB,SMILES
0,ZINC00000018,212.318,2.00,5.87,-8.20,1,3,32,0,4,CC(C)C[C@@H]1C(=O)N(C(=S)N1)CC=C
1,ZINC00000023,250.362,2.58,5.16,-40.25,3,3,46,1,8,CC(C)[NH2+]C[C@H](COc1ccccc1CC=C)O
2,ZINC00000036,151.141,0.37,3.51,-45.30,1,3,60,-1,2,c1ccc(cc1)[C@@H](C(=O)[O-])O
3,ZINC00000053,179.151,1.43,6.59,-56.84,0,4,66,-1,3,CC(=O)Oc1ccccc1C(=O)[O-]
4,ZINC00000056,290.383,1.77,-0.01,-37.55,2,4,50,1,5,C[NH+]1[C@@H]2CC[C@H]1CC(C2)OC(=O)[C@H](CO)c3c...

In [5]:
data1.shape

(2924, 11)

In [9]:
data2 = pd.read_csv('103_prop.xls.csv')

In [10]:
data2.shape

(101745, 11)

In [11]:
data2.head()

,ZINC_ID,MWT,LogP,Desolv_apolar,Desolv_polar,HBD,HBA,tPSA,Charge,NRB,SMILES
0,ZINC00000010,217.200,1.42,5.57,-41.98,0,4,66,-1,2,C[C@@]1(C(=O)C=C(O1)C(=O)[O-])c2ccccc2
1,ZINC00000012,289.356,1.28,4.89,-24.55,2,4,66,0,5,c1ccc(cc1)C(c2ccccc2)[S@](=O)CC(=O)NO
2,ZINC00000017,281.337,1.33,3.06,-23.33,2,6,87,0,4,CCC[S@](=O)c1ccc2c(c1)[nH]/c(=N\C(=O)OC)/[nH]2
3,ZINC00000017,281.337,1.33,3.07,-19.20,2,6,87,0,4,CCC[S@](=O)c1ccc2c(c1)[nH]/c(=N/C(=O)OC)/[nH]2
4,ZINC00000022,218.276,3.21,0.47,-48.57,1,3,52,-1,5,C[C@@H](c1ccc(cc1)NCC(=C)C)C(=O)[O-]

In [12]:
data3 = pd.read_csv('biodeg.csv')

In [13]:
data3.head()

  3.919;2.6909;0;0;0;0;0;31.4;2;0;0;0;3.106;2.55;9.002;0;0.96;1.142;0;0;0;1.201;0;0;0;0;1.932;0.011;0;0;4.489;0;0;0;0;2.949;1.591;0;7.253;0;0;RB
0  4.17;2.1144;0;0;0;0;0;30.8;1;1;0;0;2.461;1.393...
1  3.932;3.2512;0;0;0;0;0;26.7;2;4;0;0;3.279;2.58...
2  3;2.7098;0;0;0;0;0;20;0;2;0;0;2.1;0.918;6.594;...
3  4.236;3.3944;0;0;0;0;0;29.4;2;4;0;-0.271;3.449...
4  4.236;3.4286;0;0;0;0;0;28.6;2;4;0;-0.275;3.313...

In [ ]:
try:
    import lzma
except ImportError:
    from backports import lzma

lzma.open('../../Downloads/Compounds_all_sortedbymw_ver1.0.xz').read()